# HTC's battery code directly writes to misc to store (debugging?) state

#============= kernel ==============
allow kernel vfat:dir search;
allow kernel exfat:dir search;
