type operator-properties, domain;
type operator-properties_exec, exec_type, file_type;
init_daemon_domain(operator-properties)

set_prop(operator-properties, config_prop);
set_prop(operator-properties, radio_prop);
set_prop(operator-properties, system_prop);

#============= operator-properties ==============
allow operator-properties default_prop:property_service set;
allow operator-properties rootfs:lnk_file getattr;

