binder_use(per_mgr)
binder_call(per_mgr, system_server)
binder_call(per_mgr, rild)
allow per_mgr self:capability net_raw;

#============= per_mgr ==============
allow per_mgr block_device:dir search;
allow per_mgr vfat:file { open read };
