# HTC camera
allow untrusted_app sysfs:file getattr;
allow untrusted_app sysfs:file open;

#============= untrusted_app ==============
allow untrusted_app storage_stub_file:dir getattr;
allow untrusted_app sysfs:file read;
allow untrusted_app app_data_file:file open;
